<footer class="footer">
  <small>
    <a href="https://github.com/scjung">Seungcheol Jung</a>
  </small>
  <ul>
    <li>
      <a href="https://github.com/scjung">Github</a>
    </li>
  </ul>
</footer>